{% extends 'base.html.twig' %}

{% block title "Complète | Mobilité & proximité" %}

{% block body %}
<section class="py-24 flex items-center min-h-screen sm:justify-center bg-background">
    <div class="mx-auto max-w-[43rem]">
        <div class="text-center">
            <p class="text-base sm:text-lg font-medium leading-8 text-primary/95">Mobilité & Proximité</p>
            <h1 class="mt-3 text-xl sm:text-[3.5rem] leading-[4rem]">Términé !</h1>
            <p class="mt-3 text-base sm:text-lg leading-relaxed text-foreground">
                Merci pour votre participation. Notre équipe vous souhaite une agréable journée
            </p>
        </div>
    </div>
</section>
{% endblock %}
