{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>
    <a href="{{ path('admin_survey_show', {id: survey.id}) }}">back to list</a>

    {{ include('admin/question/_form.html.twig') }}

{% endblock %}
