@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --primary: 142.1 76.2% 36.3%;
        --primary-foreground: 355.7 100% 97.3%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --ring: 142.1 76.2% 36.3%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 1.96%;
        --foreground: 0 0% 95%;
        --muted: 0 0% 9.8%;
        --muted-foreground: 240 0% 87.69%;
        --popover: 0 0% 5.88%;
        --popover-foreground: 0 0% 95%;
        --card: 0 0% 7.84%;
        --card-foreground: 0 0% 95%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --primary: 143.23 72.09% 42.16%;
        --primary-foreground: 0 0% 15.69%;
        --secondary: 0 0% 9.8%;
        --secondary-foreground: 0 0% 98%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 75.38% 38.16%;
        --destructive-foreground: 0 85.7% 97.3%;
        --ring: 140 67.74% 30.39%;
    }

    .btn {
        @apply inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-sm h-10 px-4 py-2;
    }

    .btn-sm {
        @apply text-xs h-8 px-3 py-1.5;
    }

    .btn-outline {
        @apply border border-input bg-background transition-colors duration-300;
    }

    p, li, span, strong, div {
        @apply text-base md:text-lg leading-normal text-foreground;
    }

    .title {
        @apply text-3xl md:text-5xl text-primary-foreground font-extrabold leading-9 tracking-tight mb-6;
    }

    h1, h2, h3 {
        @apply text-foreground font-bold leading-9 tracking-tight;
    }

    h1 {
        @apply text-2xl md:text-3xl;
    }

    h2 {
        @apply text-xl md:text-2xl;
    }

    h3 {
        @apply text-lg md:text-xl;
    }
}


/* Alerts */
.bg-success { @apply bg-primary; }
.text-success-foreground { @apply text-primary-foreground; }

.bg-warning { @apply bg-secondary; }
.text-warning-foreground { @apply text-secondary-foreground; }

.bg-danger { @apply bg-destructive; }
.text-danger-foreground { @apply text-destructive-foreground; }


/* Buttons */
.btn-primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
}

.btn-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/90;
}

.btn-destructive {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90;
}

.btn-outline-primary {
    @apply btn-outline hover:bg-primary hover:text-primary-foreground;
}

.btn-outline-accent {
    @apply btn-outline hover:bg-accent hover:text-accent-foreground;
}

/* Forms */
[type="text"],
[type='email'],
textarea,
[type='password'] {
    @apply bg-background border-none rounded ring-1 ring-input text-sm font-medium leading-none text-foreground focus:outline-none focus:ring-primary placeholder:text-muted-foreground py-2 w-full px-3 mt-1;
}

label {
    @apply text-base text-foreground font-medium;
}

[type='checkbox'] {
    @apply relative size-5 aspect-square bg-background appearance-none checked:bg-primary border border-input rounded outline-none text-transparent focus:ring-2 focus:ring-ring focus-visible:outline-offset-2 focus-visible:outline-2 focus-visible:outline-ring focus-visible:border-ring cursor-pointer transition-all duration-300 ease-in-out mt-0 mr-2;
}


/* Answer Form */
#answer {
    @apply space-y-5;
}

form[name='answer'] {
    @apply mt-4;
}

.row-list > label {
    @apply block;
}

[id^='answer_response-'] {
    @apply mt-3 space-y-3;
}

[id^='answer_response-'] div {
    @apply flex-row-reverse justify-between items-center border border-input rounded-md hover:bg-accent;
}

[id^='answer_response-'] input {
    @apply hidden;
}

[id^='answer_response-'] label {
    @apply w-full flex items-center justify-between text-sm text-foreground px-4 py-2 cursor-pointer after:content-[''] after:border after:border-input after:rounded-full after:size-6 after:block;
}

[id^='answer_response-']:checked + label::after {
    @apply bg-primary border-ring;
}

[id^='answer_response-'] + label::after {
    @apply hover:border-ring;
}

form[name='answer'] textarea,
form[name='answer'] input[type='text'] {
    @apply bg-background border-none ring-1 ring-input text-sm font-medium leading-none text-foreground focus:outline-none focus:ring-primary placeholder:text-muted-foreground p-3 w-full;
}


/* Admin */
#admin label {
    @apply !inline-block;
}


/* Survey Form */
form[name='survey'] #survey_questions > .mb-6 {
    @apply border border-ring p-6 mt-2 rounded;
}

form[name='survey'] #survey_questions > .mb-6 .inline-flex {
    @apply !flex;
}
